.grid {
  margin: 0px auto 10px auto;
  padding: 0px;
  display: grid;
  max-width: 98vw;
  grid-template-rows: repeat(45, 25px);
  grid-template-columns: repeat(67, minmax(0, 25px));
  border: 1px solid #ddd;
}

.grid:hover {
  cursor: cell;
}
