.grid {
  margin: 50px auto;
  padding: 0px;
  display: grid;
  max-width: 90vw;
  grid-template-rows: repeat(45, minmax(0, 25px));
  grid-template-columns: repeat(90, minmax(0, 25px));
  outline: 1px solid #ddd;
  border: 1px solid transparent;
}

.grid:hover {
  cursor: cell;
}

.squareContainer {
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
  user-select: none;
}
