.square,
.startSquare,
.endSquare,
.wallSquare,
.weightSquare,
.visitedSquare,
.pathSquare,
.visitedFinishedSquare,
.pathFinishedSquare,
.visitedHeadSquare {
  width: 100%;
  height: 100%;
  margin: auto;
  user-select: none;
}

.square:focus,
.startSquare:focus,
.endSquare:focus,
.wallSquare:focus,
.weightSquare:focus,
.visitedSquare:focus,
.pathSquare:focus,
.visitedFinishedSquare:focus,
.pathFinishedSquare:focus,
.visitedHeadSquare:focus {
  outline: 0.1px transparent;
}

.square {
  outline: 0.1px solid #ddd;
}

.visitedSquare,
.visitedFinishedSquare,
.visitedHeadSquare {
  outline: 0.1px solid white;
}

.wallSquare {
  animation-name: wall;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes wall {
  0% {
    background-color: #333;
    transform: scale(1);
  }
  50% {
    background-color: #333;
    transform: scale(1.2);
  }
  100% {
    background-color: #333;
    transform: scale(1);
  }
}

.weightSquare {
  animation-name: weight;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes weight {
  0% {
    background-color: purple;
    transform: scale(1);
  }
  50% {
    background-color: purple;
    transform: scale(1.2);
  }
  100% {
    background-color: purple;
    transform: scale(1);
  }
}

.weightImg {
  width: 90%;
  height: 80%;
  display: block;
  margin: auto;
}

.visitedSquare {
  animation-name: visited;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes visited {
  0% {
    outline: none;
    background-color: #4924ff;
    transform: scale(0.3);
    margin: auto;
    border-radius: 50%;
  }
  25% {
    outline: none;
    background-color: #4ecde6;
    margin: auto;
  }
  50% {
    outline: none;
    background-color: #246dff;
    margin: auto;
    border-radius: 50%;
  }
  75% {
    outline: none;
    margin: auto;
    transform: scale(1.2);
    background-color: #24ffb6;
    border-radius: 10%;
  }
  99% {
    outline: none;
  }
  100% {
    transform: scale(1);
    outline: 1px solid white;
    background-color: #24daff;
  }
}

.visitedFinishedSquare {
  background-color: #24daff;
}

.visitedHeadSquare {
  background-color: yellow;
}

@keyframes visitedWeight {
  0% {
    outline: 1px solid purple;
    background-color: #4924ff;
    transform: scale(0.3);
    margin: auto;
    border-radius: 50%;
  }
  25% {
    outline: 1px solid purple;
    background-color: #4ecde6;
    margin: auto;
  }
  50% {
    outline: 1px solid purple;
    background-color: #246dff;
    margin: auto;
    border-radius: 50%;
  }
  75% {
    outline: 1px solid purple;
    margin: auto;
    transform: scale(1.2);
    background-color: #24ffb6;
    border-radius: 10%;
  }
  99% {
    outline: 1px solid purple;
  }
  100% {
    outline: 1px solid purple;
    transform: scale(1);
    background-color: purple;
  }
}

.visitedWeightSquare {
  animation-name: visitedWeight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.pathSquare {
  background-color: yellow;
  animation-name: path;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes path {
  0% {
    margin: auto;
    border-radius: 30%;
    transform: scale(0.85);
    background-color: #0ff;
  }
  75% {
    margin: auto;
    transform: scale(1.1);
  }
}

.pathFinishedSquare {
  background-color: yellow;
  margin: auto;
  transform: scale(1);
}

.pathWeightSquare {
  outline: 1px solid purple;
  background-color: yellow;
  /* animation-name: path;
  animation-duration: 0.5s;
  animation-timing-function: ease-out; */
}

.startSquare {
  background-color: #34d960;
}

.endSquare {
  background-color: #eb5752;
}
