.square,
.startSquare,
.endSquare,
.wallSquare,
.weightSquare,
.visitedSquare,
.visitedFinishedSquare,
.visitedHeadSquare,
.visitedWeightSquare,
.visitedWeightFinishedSquare,
.pathSquare,
.pathWeightSquare,
.pathHeadSquare,
.pathFinishedSquare,
.pathFinishedWeightSquare {
  width: 100%;
  height: 100%;
  margin: auto;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:focus,
.startSquare:focus,
.endSquare:focus,
.wallSquare:focus,
.weightSquare:focus,
.visitedSquare:focus,
.visitedWeightSquare:focus,
.visitedHeadSquare:focus,
.visitedFinishedSquare:focus,
.visitedFinishedWeightSquare:focus,
.pathSquare:focus,
.pathWeightSquare:focus,
.pathHeadSquare:focus,
.pathFinishedSquare:focus,
.pathFinishedWeightSquare {
  outline: none;
}

.weightImg,
.startImg,
.endImg {
  width: 95%;
  height: 95%;
  user-select: none;
  display: block;
}

.square {
  border: 0.1px solid #ddd;
}

.startSquare {
  background-color: rgb(6, 214, 160, 0.9);
}

.endSquare {
  background-color: rgb(255, 107, 107);
}

@keyframes wall {
  0% {
    background-color: rgb(38, 70, 83);
  }
  50% {
    background-color: rgb(38, 70, 83);
    transform: scale(1.2);
  }
  100% {
    background-color: rgb(38, 70, 83);
    border-radius: 0%;
  }
}

.wallSquare {
  animation-name: wall;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes weight {
  0% {
    margin: auto;
  }
  50% {
    transform: scale(1.2);
    margin: auto;
  }
  99% {
    border: none;
    margin: auto;
  }
  100% {
    border: 0.1px solid #ddd;
    margin: auto;
  }
}

.weightSquare {
  animation-name: weight;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes visited {
  0% {
    background-color: rgb(116, 0, 184);
    transform: scale(0.3);
    border: none;
    border-radius: 50%;
    margin: auto;
  }
  25% {
    background-color: rgb(94, 96, 206);
    margin: auto;
  }
  50% {
    background-color: rgb(72, 191, 227);
    border-radius: 50%;
    margin: auto;
  }
  75% {
    transform: scale(1.2);
    background-color: rgb(128, 255, 219);
    border: none;
    border-radius: 0%;
    margin: auto;
  }
  75.1% {
    border: 1px solid rgb(173, 232, 244);
  }
  100% {
    transform: scale(1);
    background-color: rgb(86, 207, 225);
    border: 1px solid rgb(173, 232, 244);
    margin: auto;
  }
}

.visitedSquare,
.visitedWeightSquare {
  animation-name: visited;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.visitedFinishedSquare,
.visitedFinishedWeightSquare {
  background-color: rgb(86, 207, 225);
  border: 1px solid rgb(173, 232, 244);
}

.visitedHeadSquare {
  background-color: rgb(255, 255, 63);
  border: 1px solid #eee;
}

@keyframes path {
  0% {
    transform: scale(0.65);
    background-color: rgb(255, 255, 63);
    border-radius: 30%;
    margin: auto;
  }
  100% {
    transform: scale(1);
    background-color: rgb(255, 255, 63);
    border-radius: 0%;
    margin: auto;
  }
}

.pathSquare,
.pathWeightSquare {
  animation-name: path;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.pathHeadSquare {
  background-color: rgb(6, 214, 160);
}

.pathFinishedSquare,
.pathFinishedWeightSquare {
  background-color: rgb(255, 255, 63);
  margin: auto;
}
