@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.topBar {
  margin: 0px auto;
  box-sizing: border-box;
  background-color: rgb(38, 70, 83);
  width: 100%;
  height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-family: 'Mulish', sans-serif;
  font-size: 30px;
  font-weight: 1000;
  color: rgb(173, 232, 244);
  background-color: transparent;
  margin: 10px auto;
}

.optionsContainer {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.topBarItemContainer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px auto;
}

.algorithmForm {
  display: inline-flex;
  flex-wrap: nowrap;
}

.topBarButton,
.topBarButtonWhileAnimating {
  border: none;
  border-radius: 5px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  user-select: none;
  margin-left: 10px;
  margin-right: 10px;
}

.topBarButton {
  color: rgb(38, 70, 83);
  background-color: rgb(233, 196, 106);
}

.topBarButton:hover {
  cursor: pointer;
  background-color: rgb(42, 157, 143);
  color: white;
}

.resetButton:hover {
  background-color: rgb(231, 111, 81);
}

.topBarButtonWhileAnimating,
.topBarButtonWhileAnimating:hover {
  background-color: rgb(233, 196, 106);
  color: rgb(38, 70, 83);
}

.topBarButton:focus,
.topBarButtonWhileAnimating:focus {
  outline: none;
}
