.page {
  margin: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.run {
  margin: auto;
}

.buttons {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  width: 150px;
  height: 40px;
}
