.page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.run {
  margin: auto;
}

div.square {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 25px;
  height: 25px;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-rows: repeat(40, fit-content(2vmin));
  grid-template-columns: repeat(80, fit-content(2vw));
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

div.square {
  background-color: white;
}

@keyframes visited {
  0% {
    background-color: yellow;
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: #0f8;
  }
  100% {
    background-color: #0ff;
  }
}

div.visited {
  background-color: #0ff;
  animation-name: visited;
  animation-duration: 2s;
}

div.path {
  background-color: yellow;
}

div.start {
  background-color: green;
}

div.end {
  background-color: red;
}

div.wall {
  background-color: #333;
}

div.wPressed:hover {
  background-color: #333;
}

div.sPressed:hover {
  background-color: green;
}

div.ePressed:hover {
  background-color: red;
}

.buttons {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  width: 150px;
  height: 40px;
}
